main{
  padding-top:5rem!important;
}
#marco{
  /*border:1rem solid #cc0000;*/
  padding: 1rem 3rem;
  position: relative;
  height: 90%;
}
.app{

}
.my-card-image>div{
  padding-left:2.5rem !important;
  padding-right: 2.5rem !important;
  padding-top: 2rem !important;
  padding-bottom: : 2rem !important;
  height: 100%;
}
.my-card-image{
  height: 14rem;
  margin-bottom: 1rem;
}
.my-card-image.unactive{
  cursor: not-allowed;
}
.my-card-image h3{
  text-align: center !important;
}
#my-nav{
  background-color: #E31837 !important;
  padding: 0;
  padding-bottom: .1rem;
}
#my-nav .nav-link{
  padding: .2rem;
}
#my-footer{
    margin-top:1.2rem; padding-top:.4rem; background-color:#4B515D!important;
}
#my-footer *{
  color: #eceff1;
}
#icon-nav {
  height: 3rem;
  width: 7rem; }
/*.container-logos{
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  width: 12rem;
  height: 2rem;
  background-color: #fff;
}*/
#my-card{
  margin-top: 2rem;
}

::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #E31837;
  border: solid 3px #fff;
  border-radius: 10px; }

::-webkit-scrollbar-corner {
  background-color: transparent; }
.btn-going-play{
  background-color: #E31837;
}
